/* #region global-assignements */
html {
    background-color: var(--color-bg-main);
}

body {
    height: 100svh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Figtree";
    font-weight: 800;
    line-height: 100%;
    font-size: clamp(48px, calc((100dvw - 400px) * 8 / 1000 + 48px), 56px);
    color: var(--color-font-main);
    text-align: center;
}

p {
    font-family: "Figtree";
    font-weight: 400;
    line-height: 100%;
    font-size: 14px;
    color: var(--color-font-foot);
    text-align: center;
}
/* #endregion global-assignements */

/* #region shell */
header,
.footer-circle {
    width: 100%;
    background-color: var(--color-bg-shell);

    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    z-index: 1;

    height: clamp(72px, calc((100dvw - 400px) * 8 / 1000 + 72px), 80px);
    position: fixed;

    img {
        width: 168px;
        height: 32px;
    }
}

header,
main {
    padding: 0 clamp(30px, calc((100vw - 400px) * 105 / 840 + 30px), 135px);
}

footer {
    article {
        height: 100px;

        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 16px;

        overflow: hidden;

        /* build a rounded shape for footer and only show within footer height */
        .footer-circle {
            z-index: -1;
            position: absolute;
            top: 0;

            width: clamp(2000px, calc((100dvw - 400px) * 26000 / 1000 + 500dvw), 28000px);
            height: clamp(2000px, calc((100dvw - 400px) * 26000 / 1000 + 500dvw), 28000px);

            border-radius: 100%;
        }

        img {
            width: 100px;
            height: 24px;
        }
    }
}
/* #endregion shell */

main {
    /* padding equal to header height to not overlap on hero view */
    padding-top: clamp(72px, calc((100dvw - 400px) * 8 / 1000 + 72px), 80px);
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    section {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: clamp(56px, calc((100dvw - 400px) * 24 / 1000 + 56px), 80px);

        div {
            /* placeholder */
            height: 250px;
            width: 100%;
            background-color: red;
        }
    }
}

/* #region media queries */

@media screen and (min-width: 769px) {
    header {
        justify-content: flex-start;

        nav {
            padding-left: 5px;
        }
    }
}

@media screen and (min-width: 1441px) {
    header,
    main {
        padding: 0 max(calc(50% - 720px), 135px);
    }
}

/* #endregion media queries */
