/* #region global-assignements */
html {
    background-color: var(--color-bg-main);
}

body {
    height: 100svh;
    display: flex;
    flex-direction: column;
}

.filler {
    height: 100%;
}

h1 {
    font-family: "Figtree";
    font-weight: 800;
    line-height: 100%;
    font-size: clamp(48px, calc((100dvw - 400px) * 8 / 1000 + 48px), 56px);
    color: var(--color-font-main);
    text-align: center;
}

h2 {
    font-family: "Figtree";
    font-weight: 700;
    line-height: 100%;
    font-size: 24px;
    color: var(--color-font-main);
    text-wrap: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    font-family: "Figtree";
    font-weight: 400;
    line-height: 100%;
    font-size: 14px;
    color: var(--color-font-foot);
    text-align: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
/* #endregion global-assignements */

/* #region shell */
.header-main,
.footer-circle {
    width: 100%;
    background-color: var(--color-bg-shell);

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-main {
    z-index: 1;

    height: clamp(72px, calc((100dvw - 400px) * 8 / 1000 + 72px), 80px);
    position: fixed;

    img {
        width: clamp(168px, calc((100dvw - 400px) * 48 / 1000 + 168px), 216px);
        height: clamp(32px, calc((100dvw - 400px) * 9 / 1000 + 32px),41px)
    }
}

.header-main,
main {
    padding: 0 clamp(29.5px, calc((100vw - 400px) * 105.5 / 840 + 29.5px), 135px);
}

footer {
    div {
        height: 100px;

        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 16px;

        overflow: hidden;

        /* build a rounded shape for footer and only show within footer height */
        .footer-circle {
            z-index: -1;
            position: absolute;
            top: 0;

            width: clamp(2000px, calc((100dvw - 400px) * 26000 / 1000 + 500dvw), 28000px);
            height: clamp(2000px, calc((100dvw - 400px) * 26000 / 1000 + 500dvw), 28000px);

            border-radius: 100%;
        }

        img {
            width: 100px;
            height: 24px;
        }
    }
}
/* #endregion shell */

/* #region main */
/* as our header banner is fixed, we want our actual content to move down equal to the size of the header and have
an anchor point to navigate to on the top of the page. Without such "empty" container we we would e.g. navigate to h1
without padding being considered in the navigation. So h1 would be hidden behind banner. */
#page-top {
    width: 100%;
    height: clamp(72px, calc((100dvw - 400px) * 8 / 1000 + 72px), 80px);
    padding: 0 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: clamp(56px, calc((100dvw - 400px) * 24 / 1000 + 56px), 80px);
        padding-block: clamp(45px, calc((100dvw - 400px) * 115 / 1000 + 45px), 160px);
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: clamp(16px, calc((100dvw - 400px) * 32 / 1000 + 16px), 48px);
    column-gap: 16px;
}

.picture-button {
    border-radius: 16px;
    outline: 2px solid transparent;
}

.picture-button:focus,
.picture-button:hover {
    outline: var(--border-style-hover);
}

.picture {
    width: var(--size-img);
    height: var(--size-img);

    object-fit: cover;
    border-radius: 16px;

    /* fallback background */
    background-color: var(--color-bg-shell);
    color: var(--color-font-main);
}
/* #endregion main */


/* #region dialog */
.dialog-content-wrapper {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 32px 21.5px;
    padding: clamp(32px, calc(100dvw - 400px) * 24 / 1000 + 32px, 56px)
        clamp(21.5px, calc(100dvw - 400px) * 42.5 / 1000 + 21.5px, 64px);
    gap: 48px;

    .modal-head-close {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-inline: clamp(31px, calc((100dvw - 400px) * 33 / 1000 + 31px), 64px);

        .close-button {
            align-self: flex-end;
            background-image: url(./asset/icon/icon-close.svg);
            background-size: cover;
            height: var(--size-btn-close);
            width: var(--size-btn-close);
        }

        .close-button:hover,
        .close-button:focus {
            background-color: var(--color-btn-hover);
        }

        .close-button:active {
            background-color: var(--color-btn-click);
        }

        h2:hover {
            overflow: inherit;
            text-wrap: wrap;
        }
    }

    .modal-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 260px;

        .arrow-button-left,
        .arrow-button-right {
            display: flex;
            justify-content: center;
            align-items: center;

            height: var(--size-btn-arrow);
            width: var(--size-btn-arrow);

            background-color: var(--color-btn-arrow-default);

            div {
                background-image: url(./asset/icon/icon-arrow-right.svg);
                background-size: cover;
                height: var(--size-arrow);
                width: var(--size-arrow);
            }
        }

        .arrow-button-left {
            transform: rotate(180deg);
        }

        .arrow-button-left:hover,
        .arrow-button-right:hover,
        .arrow-button-left:focus,
        .arrow-button-right:focus {
            background-color: var(--color-btn-arrow-hover);
        }

        p {
            font-weight: 500;
            font-size: 16px;
            color: var(--color-font-dialog);
        }
    }
}

dialog {
    width: 100dvw;
    height: 100dvh;

    /* override margin to place in center */
    max-height: 100dvh;
    max-width: 100dvw;
    margin: auto;

    background-color: var(--color-bg-shell);
    background-color: #09212a;
    border: 0;

    .dialog-picture-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;

        /* padding top/bot 32 -> 64 + button height 60 + gap 2*48 */
        /* -> 64 + 60 + 96 = 220*/
        height: calc(100% - 220px);
    }

    .dialog-picture {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    flex-direction: column;
    align-items: center;

    button {
        border-radius: 100%;
        outline: none;
    }
}

/* this transition will not work as described by K. as backdrop does not exist anymore uppon closing dialog */
/* dialog::backdrop {
    background-color: var(--color-bg-main);
    opacity: 0;
    transition: all 1s ease-in-out;
} */

dialog.opened::backdrop {
    background-color: var(--color-bg-main);
    opacity: 0.75;
    transition: all 1s ease-in-out;
}

/* hide scrollbar when dialog is open */
body:has(dialog[open]) {
    overflow: hidden;
}
/* #endregion dialog */

/* #region media queries */
@media screen and (min-width: 769px) {
    .header-main {
        justify-content: flex-start;

        nav {
            padding-left: 5px;
        }
    }

    .dialog-content-wrapper {
        max-height: min(var(--height-max-dialog-desktop), var(--height-max-dialog-limit));

        .modal-head-close {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .close-button {
                order: 1;
            }
        }
    }

    dialog {
        border-radius: 40px;
        max-height: min(var(--height-max-dialog-desktop), var(--height-max-dialog-limit));
        max-width: min(var(--width-max-dialog-desktop), var(--width-max-dialog-limit));
    }
}

@media screen and (min-width: 1441px) {
    .header-main {
        padding-inline: max(calc(50% - 720px), 135px);
    }
    main {
        padding-inline: max(calc(50% - (720px - 135px)), 135px);
    }
}

/* optional media queries */
@media screen and (max-width: 319px) {
    h1 {
        font-size: clamp(16px, calc((100dvw - 100px) * 32 / 219 + 16px), 48px);
    }
    p {
        font-size: clamp(8px, calc((100dvw - 100px) * 6 / 219 + 8px), 14px);
    }
    .header-main {
        img {
            width: clamp(50px, calc(100dvw * 118 / 319 + 50px), 168px);
        }
    }
    footer {
        div {
            img {
                width: clamp(50px, calc(100dvw * 50 / 319 + 50px), 100px);
            }
        }
    }
    main {
        padding-inline: clamp(4px, calc((100dvw - 100px) * 26 / 219 + 4px), 30px);
    }

    .dialog-content-wrapper {
        .modal-head-close {
            padding-inline: clamp(5px, calc((100dvw - 200px) * 26 / 119 + 5px), 31px);
        }

        .modal-nav {
            width: clamp(150px, calc((100dvw - 160px) * 110 / 159 + 150px), 260px);
        }
    }
}
/* #endregion media queries */
